.party-profile {
    display: flex;
    flex-direction: column;
}

.party-name {
    display: flex;
    align-self: center;
}

.delete-button {
    width: 30%;
    display: flex;

}

.make-session-button {
    width: 30%;
    display: flex;
}

.view-session-button {
    width: 30%;
    display: flex;
}

.party-mems {
    border: solid black 2px;
    /* display: flex; */
    /* justify-content: center; */
}