.party-profile {
    display: flex;
    flex-direction: column;
}

.party-div {
    display: flex;
    flex-direction: row;
}

.party-content-left {
    width: 50%;
}

.party-name {
    display: flex;
    align-self: center;
    border-bottom: solid 0.2rem black;
}

.members-list {
    border-bottom: solid 0.2rem black;
    /* width: 25%; */
    padding-left: 2rem;
    margin-left: 1rem;
}

.member-name {
    padding-left: 7rem;
}

.posts-div {
    height: 300px;
    border-bottom: solid 0.2rem black;
    /* overflow-y: scroll; */
}

.posts-wrapper {
    overflow-y: scroll;
    height: 80%;
}

.posts-body {
    display: flex;
    flex-direction: column;
    border: solid black 0.2rem;
    height: 6000px;
    min-height: 200px;
    width: 50rem;
}

.each-post {
    display: flex;
    border-bottom: solid black 1px;
    align-self: flex-start;
    padding: .5rem;
}

.delete-button {
    width: 30%;
    display: flex;

}

.make-session-button {
    width: 30%;
    display: flex;
}

.view-session-button {
    width: 30%;
    display: flex;
}

.posts-title {
    border-bottom: solid 0.2rem black;
}