.session-form {
    width: 60%;
    padding: 2rem;
}

.date-form {
    width: 30%;
}

.time-form {
    width: 30%;
}

.address-form {
    width: 50%;
}

.city-form {
    width: 30%;
}

.zipcode-form {
    width: 20%;
}